<!-- Begin Hero Section -->
<section id="top-section-hero" class="top-section-hero top-section image-section" style="background-image: url('{{ site.baseurl }}/img/sections-background/{{ site.data.home-en.heroImage }}');">
    {% include navigation-en.html %}
    <div class="content-wrapper">
    <div class="jumbotron">
        <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
            {% assign heroText = site.data.home-en.heroTitle | split:"<typeout>" %}
            <h1 style="font-weight: 400!important;">{{ heroText[0] }}{{ heroText[1] }}</h1>
            <p style="font-weight: 400!important;">{{ site.data.home-en.eventDescription }}</p>
            <p style="font-weight: 400!important;">{{ site.data.home-en.eventDate }}</p>
        </div>
    </div>
    <a href="#about" class="explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
    </div>
</section>
<!-- End Hero Section -->
